# 百度翻译API配置
# 请从百度翻译开放平台获取：http://api.fanyi.baidu.com/api/trans/product/desktop
BAIDU_APP_ID=你的百度翻译APP_ID
BAIDU_SECRET_KEY=你的百度翻译KEY
# 设置为 true/1/yes/on 时，接口将返回 500 并提示使用其他翻译接口
BAIDU_TRANSLATION_DISABLED=false